@import 'basic.less';

.breadcrumb {
    position: relative;
}

.bp-button {
    color: @gray;
    transition: color ease-out 0.12s;
    
    &:hover {
        color: @pink;
    }
}

#bp-list-container {
    position: absolute;
    top: 20px; right: 16px;

    i {
        height: 24px;
        font-size: 18px;
        cursor: pointer;
        margin: 0 4px;
    }
}

#bp-save-all {
    line-height: 30px; font-size: 18px;
}

#bp-overlay {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 10000;
    background: white;
    display: none;
    transition: opacity ease-out 0.24s;

    @keyframes spin {
        from {
            transform:rotate(360deg);
        }
        to {
            transform:rotate(0deg);
        }
    }
    &:before {
        content: 'cached';
        width: 48px; height: 48px;
        .material-icons;
        color: @blue;
        font-size: 48px;
        position: absolute;
        margin: auto; top: 0; bottom: 0; left: 0; right: 0;
        animation: spin 1.6s infinite ease;
    }

    #bp-progress {
        position: absolute; left: 0; top: 0;
        width: 0; height: 2px;
        background: @blue;
        transition: width ease-in-out 0.12s;
    }
}